@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --clr-font: rgba(255, 255, 255, .45);
  --holo-color: #00FCFC;
  --shadows: 0 2px 15px #00fcfc86,
    inset -1px -1px 5px rgba(255, 255, 255, .07),
    inset 1px -2px 9px rgba(0, 0, 0, .1),
    inset 2px 0px 18px rgba(0, 147, 252, .51);
  --holo-shadows: 
    inset -15px 25px 55px 15px #000,
    inset -15px 15px 55px 10px #000,
    inset 15px -15px 55px 10px #000,
    inset 15px -25px 55px 15px #000;
  --hover-shadows: 0 3px 15px 2px #00fcfcc7,
    inset -1px -1px 5px rgba(255, 255, 255, .07),
    inset 1px -2px 9px rgba(0, 0, 0, .1),
    inset 2px 0px 18px rgba(0, 147, 252, .51);
}
html{
  /* font-family: 'Poppins', sans-serif; */
  background: #000;
  min-height: 100vh;
}
.container{
  display: flex;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: 700px;
  margin: 15px auto;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
}
.clock{ 
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  height: 800px;
  transform: translateY(-10%);
}

.clock-title {
  position: absolute;
  height: 70px;
  left: -1px;
  bottom: 42px;
  z-index: 33333;
  mask-image: url(https://i.ibb.co/FzdP4WN/anchor-cyan.png);
  transform: translate3d(152px, -435px, -10px);
  transform-style: preserve-3d;
}
#anchor:before {
  mask-image: url(https://i.ibb.co/FzdP4WN/anchor-cyan.png);
  transform: perspective(316px) translate3d(-13px, -140px, -212px);
  animation: anchorBG 15s linear infinite alternate;
  height: 208px;
  width: 208px;
  border-radius: 50%;
  z-index: 3;
  background-blend-mode: multiply;
  transform-style: preserve-3d;
  opacity: .55;
  background-color: rgba(0,255,255,.1);
  box-shadow: inset 1px 5px 5px rgb(0 255 255 / 79%),
    inset -1px 0 5px 1px rgba(0,255, 255 ,.9), 
    inset 1px 0 9px 0px rgba(250,0,0,1), 
    1px 2px 5px rgba(0,155,210,1);
}

.clock-title::before, .clock-title::after {
  position: absolute;
  content: "";
  background-image: url(https://i.ibb.co/FzdP4WN/anchor-cyan.png);
  scale: 1;
  height: 79px;
  width: 80px;
  z-index: 333;
  opacity: 1;
  transform: perspective(740px) rotateX(6deg) translate3d(65px, -26px, -48px);
  background-position: center;
  backface-visibility: visible;
  background-size: cover;
  transform-style: preserve-3d;
  background-size: 204px;
}
.clock-title::after {
  mask-image: url(https://i.ibb.co/FzdP4WN/anchor-cyan.png);
  transform: rotate(0) translate(-4px, -81px);
  animation: anchorBG2 15s linear infinite alternate-reverse;
  height: 208px;
  width: 208px;
  border-radius: 50%;
  z-index: 3;
  background-blend-mode: multiply;
  transform-style: preserve-3d;
  opacity: .8;
}
@keyframes anchorBG {
  0% {
    background-size: 1px;
    transform: translateY(-57px);
}
  100% {
    background-size: 3px;
    transform: translateY(12px);
  }
}
@keyframes anchorBG2 {
  0% {
    rotate: y 0deg;
    transform: perspective(51px) translate3d(-49px, 47px, -86px);
}
  100% { rotate: y -360deg; }
}
/* START OF RESTART, PLAY-PAUSE BTN */
button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 20%;
  box-shadow: var(--shadows);
  background-color:rgba(255, 255, 255, .17);
  cursor: pointer;
  z-index: 3;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 252, 252, 1);
}
button:hover{
  transform: translateY(-1px);
  box-shadow: var(--hover-shadows);
}
button:active {
  transform: translateY(2px);
  box-shadow: var(--shadows);
}
#start_stop {
  position: inherit;
  right: 18%;
  backface-visibility: hidden;
}
.restart {
  position: relative;
  left: 18%;
}
#start_stop:before, .restart:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 4%;
  right: 0px;
  border-radius: 20%;
  z-index: -3;
}
#start_stop::after, .restart::after{
  position: absolute;
  content: "";
  inset: 1px;
  box-shadow: inset 0 0 0.2em rgba(0, 139, 139, 1);
  border-radius: 20%;
  z-index: -1;
}
/* END OF RESTART, PLAY-PAUSE BTN */

.main-time-container{
  display: flex;
  position: relative;
  justify-content: center;
  row-gap: 10%;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  /* border-radius: 50%; */
  width: 55%;
  /* border: 2px solid cyan; */
  margin: 5px auto;
  padding: 5px;
}

.img-time-container{
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: 5px auto;
  padding: 5px;
  object-fit: fill;
  background: rgba(139, 0, 139, .5);
  transform-style: preserve-3d;
  overflow: hidden;
  z-index: -3;
  box-shadow: var(--holo-shadows);
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: image(url(https://i.ibb.co/jrvSqdq/hologram-lines-3.jpg), linear-gradient(black, transparent));
  bottom: 30px;
} 

.img-time-container:after{
  display: flex;
  overflow: hidden;
  position: absolute;
  left: -10px;
  right: -5px;
  content: "";
  height: 50%;
  top: 34%;
  background-size: cover;
  background-blend-mode: multiply;
  background-color:rgba(0, 252, 252, .31);
  transform-style: preserve-3d;
  animation: slideup 100s ease 1s infinite;
  box-shadow: var(--holo-shadows);
  z-index: 2;
  opacity: .1;
  -webkit-mask-image: linear-gradient(transparent, black, transparent);
  mask-image: linear-gradient(transparent, black, transparent);
}

.holo{
  /* position: absolute; */
  bottom: -20%;
  filter: blur(1.5px);
} 
.t-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px auto;
  padding: 5px;
  position: relative;
  width: 250px;
  border-radius: 50%;
  opacity: 1;
  /* color:rgba(0, 252, 252, .95); */
  /* text-shadow: 4px 5px 8px #ff0000; */
  z-index: 3;
}
.t-label {
  position: absolute;
  font-family: "Oxanium", sans-serif;
  left: 50%;
  transform: translateX(-50%);
  /* border: 2px solid red; */
  width: fit-content;
  /* top: 0; */
  /* border: 2px solid red; */
  height: 100px;
  color: #df1b1b;
  /* text-shadow: 1px 1px 2px #00fcfc, 0 0 1em #00fcfc, 0 0 0.2em #00fcfc, 2px 2px 5px darkmagenta; */
  /* text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red, 2px 2px 5px darkmagenta; */
  font-weight: 600;
  font-size: 60px;
  /* z-index: 3; */
  text-transform: uppercase;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  filter: opacity(0.4);
  filter: brightness(0.5) ;
  /* filter: hue-rotate(360deg); */
}

.glitch {
  color: rgb(255, 0, 0);
  /* border: 2px solid red; */
  letter-spacing: 0.5cqmin;
  text-align: center;
  font-family: "Oxanium", sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1.5px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 70px;
  /* position: relative; */
  width: 80%;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(666px, 9999px, 239px, 0);
  }
  5% {
    clip: rect(288px, 9999px, 720px, 0);
  }
  10% {
    clip: rect(695px, 9999px, 300px, 0);
  }
  15% {
    clip: rect(345px, 9999px, 345px, 0);
  }
  20% {
    clip: rect(596px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(101px, 9999px, 67px, 0);
  }
  30% {
    clip: rect(163px, 9999px, 271px, 0);
  }
  35% {
    clip: rect(277px, 9999px, 302px, 0);
  }
  40% {
    clip: rect(303px, 9999px, 408px, 0);
  }
  45% {
    clip: rect(1000px, 9999px, 250px, 0);
  }
  50% {
    clip: rect(857px, 9999px, 817px, 0);
  }
  55% {
    clip: rect(206px, 9999px, 759px, 0);
  }
  60% {
    clip: rect(914px, 9999px, 609px, 0);
  }
  65% {
    clip: rect(392px, 9999px, 107px, 0);
  }
  70% {
    clip: rect(1000px, 9999px, 343px, 0);
  }
  75% {
    clip: rect(527px, 9999px, 170px, 0);
  }
  80% {
    clip: rect(576px, 9999px, 658px, 0);
  }
  85% {
    clip: rect(499px, 9999px, 180px, 0);
  }
  90% {
    clip: rect(987px, 9999px, 479px, 0);
  }
  95% {
    clip: rect(5px, 9999px, 727px, 0);
  }
  100% {
    clip: rect(976px, 9999px, 939px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  width: 400px;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(52px, 9999px, 518px, 0);
  }
  5% {
    clip: rect(171px, 9999px, 589px, 0);
  }
  10% {
    clip: rect(119px, 9999px, 102px, 0);
  }
  15% {
    clip: rect(439px, 9999px, 518px, 0);
  }
  20% {
    clip: rect(104px, 9999px, 434px, 0);
  }
  25% {
    clip: rect(574px, 9999px, 981px, 0);
  }
  30% {
    clip: rect(750px, 9999px, 636px, 0);
  }
  35% {
    clip: rect(324px, 9999px, 834px, 0);
  }
  40% {
    clip: rect(176px, 9999px, 170px, 0);
  }
  45% {
    clip: rect(716px, 9999px, 132px, 0);
  }
  50% {
    clip: rect(151px, 9999px, 468px, 0);
  }
  55% {
    clip: rect(399px, 9999px, 906px, 0);
  }
  60% {
    clip: rect(179px, 9999px, 192px, 0);
  }
  65% {
    clip: rect(388px, 9999px, 537px, 0);
  }
  70% {
    clip: rect(591px, 9999px, 757px, 0);
  }
  75% {
    clip: rect(535px, 9999px, 712px, 0);
  }
  80% {
    clip: rect(936px, 9999px, 434px, 0);
  }
  85% {
    clip: rect(386px, 9999px, 587px, 0);
  }
  90% {
    clip: rect(462px, 9999px, 818px, 0);
  }
  95% {
    clip: rect(669px, 9999px, 213px, 0);
  }
  100% {
    clip: rect(702px, 9999px, 485px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  width: 400px;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}


.t-left {
  display: flex;
  position: relative;
  height: 180px;
  /* font-family: 'Orbitron', sans-serif; */
  font-weight: 600;
  font-size: 65px;
  margin: 5px auto;
  text-align: center;
  justify-content: center;
  letter-spacing: 5px;
  color:rgba(0, 252, 252, .81);
  text-shadow: 2px 1px 8px #00fcfcf1;
  animation: animate 1s linear infinite;
  z-index: 3;
  backdrop-filter: blur(1px);
  backface-visibility: hidden;
}

.prod-img{
  /* position: absolute; */
  margin: 20% auto;
  width: 400%;
  filter: drop-shadow(1px 1px 10px red);
  transform: translateX(-35%);

}
.t-left:before, .t-left:after {
  transform: perspective(62px) rotateX(335deg) rotate(90deg) translateZ(20px);
  position: absolute;
  content: "";
  animation: holoFocal2 600s linear infinite reverse;
  top: 46%;
  background:repeating-linear-gradient(180deg, rgb(255, 255, 255) 0%, #131325 1%, #000000 2%, rgba(62, 150, 255, .71) 1%, #171717 1%, #000000 2%, transparent 1%);
  /* background-color: rgba(0,255,255, .71); */
  background-color: red;
  width: 110px;
  height: 110px;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  text-rendering: optimizeLegibility;
  z-index: -1;
  overflow: hidden;
  left: 26%;
  box-shadow: inset 2px 1px 8px black,
    inset -1px -2px 8px black,
    inset -4px 0px 15px 2px bFlack,
    inset 4px 0px 8px 1px black;
  background-blend-mode: multiply;
  background-size:contain;
  opacity: .1;
}
.t-left::before {
  animation: holoFocal 500s linear infinite reverse;
  opacity: 1;
  background:repeating-linear-gradient(180deg, rgb(255, 255, 255) 0%, #131325 1%, #1b1b1d 1%, #000000 2%, #5d5d74 2%, #231f1f 3%, #171717 4%, rgba(62, 150, 255, .7) 5%, #000000 5%);
  background-position-x: center;
  object-fit: contain;
}
.t-left:after {
  animation: holoFocal 300s linear infinite alternate-reverse;
  opacity: 0.1;
  filter: blur(0px);
  background-position-x: center;
  object-fit: contain;
}
.time-ctrl-container {
  display: flex;
  margin: 15px;
  width: 279px;
}
.time-ctrl {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-evenly;
  height: 50px;
  left: 4px;
}
.main-length-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5%;
  width: 100%;
  justify-content: space-around;
  left: 5px;
  z-index: 1;
  align-content: center;
  top: 87%;
}
.length-container{
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color: var(--clr-font);
  background: repeating-conic-gradient(from 45deg, #00da90  0%, #00da90  0%, transparent 0%, transparent 40%, #00da90  55%);
  border-radius: 15px;
  z-index: -1;
  width: 40%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 20px;
}
.length-container:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a), #00c9c9 0%, #00c9c9 30%, transparent 0%, transparent 50%, #00c9c9 10%);
  border-radius: 15px;
  z-index: -2;
}
.length-container::after{
  position: absolute;
  content: "";
  inset: 2px;
  background: black;
  border-radius: 10px;
  z-index: -2;
}

.break, .session {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  font-size: 21px;
  font-weight: 500;
  margin: 5px auto;
  padding: 8px;
  color: #00000030;
  text-shadow: -0.5px -0.5px 2px #00fcfc, 
    0 0 2em #00fcfc00, 
    0 0 0.2em #00fcfc;
  z-index: 3;
}
.break:before, .session:before{
  position: absolute;
  content: "";
  width: 90%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a), #00da90  0%, #00da90  0%, transparent 0%, transparent 40%, #00da90  60%);
  z-index: -3;
  border-radius: 15px;
}
.break::after, .session:after{
  position: absolute;
  content: "";
  inset: 1px;
  background: black;
  border-radius: 10px;
  z-index: -1;
}
.break-row, .sesh-row{
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  font-size: 25px;
  display: inline-flex;
  column-gap: 20%;
  margin: 5px;
  align-items: center;
  color: #00000030;
  text-shadow: 1px 1px 2px #00fcfc, 0 0 2em #00fcfc, 0 0 0.2em #00fcfc;
  z-index: 3;
  margin: 5px;
  padding: 5px;
}

.holo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 3;
  /* bottom: 0; */
  top: 50%;
  width: 250px;
  height: 20px;
  margin: -5px auto 0;
  /* background-color: rgba(0, 252, 252, 1); */
  background-color: red;
  border-radius: 100%;
  transform: perspective(100px) rotateX(313deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  backdrop-filter: blur(1px);
  overflow: hidden;
  outline: 3px double rgba(218, 165, 32, 1);
  outline-offset: 6px;
  box-shadow:
  0 -1px 5px rgba(255, 0, 0, .15),
  0 -1px 2px rgba(255, 0, 0, .5),
  0 -1px 5px rgba(255, 0, 0, .15),
  0 -2px 3px rgba(255, 0, 0, .5),
  0 -3px 4px rgba(255, 0, 0, .5),
  0 -4px 6px rgba(255, 0, 0, .5),
  0 -5px 7px rgba(255, 0, 0, .65),
  0 -7px 10px rgba(255, 0, 0, .65),
  0 -10px 15px rgba(255, 0, 0, .65),
  0 -15px 20px rgba(255, 0, 0, .65),
  0 -20px 25px rgba(255, 0, 0, .65),
  0 -35px 30px rgba(255, 0, 0, .5),
  0 -55px 35px rgba(255, 0, 0, .5),
  0 -55px 5px rgba(255, 0, 0, .031),
  0 -75px 25px rgba(255, 0, 0, .15);
  

    /* 0 -1px 5px rgba(0, 252, 252, .15),
    0 -1px 2px rgba(0, 252, 252, .5),
    0 -1px 5px rgba(0, 252, 252, .15),
    0 -2px 3px rgba(0, 252, 252, .5),
    0 -3px 4px rgba(0, 252, 252, .5),
    0 -4px 6px rgba(0, 252, 252, .5),
    0 -5px 7px rgba(0, 252, 252, .65),
    0 -7px 10px rgba(0, 252, 252, .65),
    0 -10px 15px rgba(0, 252, 252, .65),
    0 -15px 20px rgba(0, 252, 252, .65),
    0 -20px 25px rgba(0, 252, 252, .65),
    0 -35px 30px rgba(139, 0, 139, .5),
    0 -55px 35px rgba(139, 0, 139, .5),
    0 -55px 5px rgba(139, 252, 252, .031),
    0 -75px 25px rgba(139, 0, 252, .15); */
}
.holo:before {
  position: absolute;
  left: -10px;
  right: -10px;
  top: -5%;
  content: "";
  height: 25px;
  border-radius: 100%;
  filter: blur(1.5px);
  opacity: .8;
  z-index: -3;
  outline: 3px double black;
  outline-offset: -5px;
  background:repeating-linear-gradient(90deg, rgb(255, 255, 255) 0%, #131325 1%, #1b1b1d 1%, #000000 2%, #5d5d74 2%, #231f1f 3%, #171717 4%, rgb(62, 150, 255) 5%, #000000 51%);
  box-shadow: 5px 5px 5px 5px rgb(252, 139, 139);
}
.holo:after {
  position: absolute;
  left: -10px;
  right: -10px;
  content: "";
  height: 100px;
  /* background-color: rgba(0, 252, 252, .57); */
  background-color: darkred;
  border-radius: 100%;
  filter: blur(1.5px);
  background: repeating-conic-gradient(
    from var(--a), 
    #ff0000 0%, 
    #ff0000 30%, 
    transparent 0%, 
    transparent 50%, 
    #ff0000 10%
);

  /* background: repeating-conic-gradient(from var(--a), #00c9c9 0%, #00c9c9 30%, transparent 0%, transparent 50%, #00c9c9 10%); */
  opacity: .7;
  animation: animate2 4s linear infinite;
  outline: 3px double black;
  outline-offset: -5px;
}
.holo-border {
  position: absolute;
  /* left: 13px; */
  /* top: -25%; */
  top: 104%;
  /* border: 2px solid red; */
  content: "";
  height: 60px;
  width: 70%;
  transform: perspective(100px) rotateX(352deg);
  border-radius: 100%;
  filter: blur(1.5px);
  opacity: 1;
  z-index: -3;
  border: 4.5px solid teal;
  background-color: rgba(0, 147, 252, .21);
  background: repeating-linear-gradient(72deg, rgb(255, 255, 255) 0%, #131325 1%, #1b1b1d 15%, #000000 2%, #5d5d74 2%, #231f1f 3%, hsl(0, 0%, 9%) 4%, rgb(62, 150, 255) 54%, #000000 44%);
  animation: holoFocal2 1.5s ease-in infinite alternate-reverse;
  transform-style: preserve-3d;
  box-shadow: 
  inset 2px 0px 18px rgba(255, 0, 0, .51), 
  inset -6px -6px 18px rgba(255, 0, 0, .41), 
  inset -1px -6px 2px rgba(255, 0, 0, .61), 
  1px 15px 65px 45px rgba(255, 0, 0, .7);


  /* box-shadow: inset 2px 0px 18px rgba(0, 147, 252, .51), 
    inset -6px -6px 18px rgba(255, 255, 255, .41), 
    inset -1px -6px 2px rgba(55, 125, 55, .61), 
    1px 15px 65px 45px rgba(0, 252, 252, .7); */
 
    outline: 1px double red;
    /* outline: 1px double cyan; */
}
.holo-border:before {
  position: absolute;
  content: "";
  background: rgba(0, 252, 252, .4);
  top: -40%;
  width: 17%;
  z-index: -3;
  opacity: 1;
  height: 50px;
  transform: rotate3d(28, 5, 12, 91deg);
  border-radius: 50%;
  right: 3px;
}
.holo-border:after {
  position: absolute;
  content: "";
  background: rgba(0, 252, 252, .4);
  left: 7px;
  top: -42%;
  width: 16%;
  z-index: -3;
  opacity: 1;
  height: 50px;
  transform: rotate3d(11, 10, 12, 203deg);
  border-radius: 50%;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0% {
    --a: 0deg;
    opacity: .65;
  } 25% {
    --a: 45deg;
    opacity: .66;
    text-shadow: 2px 0px 8px #17fffff1;
  } 35% {
    --a: 45deg;
    opacity: .7;
    text-shadow: 2px 0px 8px #17fffff1;
  } 50% {
    --a: -13deg;
    opacity: .67;
    text-shadow: 2px 2px 8px #17fffff1;
  } 65% {
    --a: 45deg;
    opacity: .7;
    text-shadow: 2px 0px 8px #17fffff1;
  } 75% {
    --a: -45deg;
    opacity: .66;
    text-shadow: 2px 1px 8px #00fcfcf1;
  } 100% {
    --a: 360deg;
    opacity: .65;
    text-shadow: 2px 0px 8px #00fcfcf1;
  }
}

@keyframes animate2 {
  0% {
    --a: 0deg;
    opacity: .65;
  } 100% {
    --a: 360deg;
    opacity: .65;
  }
}
@keyframes slideup {
  0% { background-position: 0 0; opacity: .8; }
  50% { background-position: 0 -500px; opacity: .7;}
  100% { background-position: 0 -900px; opacity: .6;}
}
@keyframes holoFocal {
  0% {
    opacity: .15;
    background-position: 0 0;
  } 50% {
    opacity: .2;
    background-position: 0 -250px;
  } 100% {
    opacity: .15;
    background-position: 0 -500px;
  }
}
@keyframes holoFocal2 {
  0% {
    --a: 0deg;
    opacity: .2;
  } 100% {
    --a: 360deg;
    opacity: .30;
  }
}
.product-display p{

  font-family: "Oxanium", sans-serif;

}
.value {
  font-family: "Oxanium", sans-serif;

  opacity: 0;
  animation: fadeIn 2s forwards 2s; /* Delay to sync with line animation */
}
.pro-callout{
  font-family: "Oxanium", sans-serif;
  font-size: 50px;
}
/* Smooth sliding effect */
.product-display {
  transition: transform 0.5s ease-in-out;
}
